:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: oblique;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #313131;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.title-container{
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


.title {
  margin-top: 23vh;
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: Inter, sans-serif;

  font-size: 6vw;
}

h1{
 /* animation: glow 1s ease-in-out infinite alternate; */
 font-style: normal;
 -webkit-user-select: none; /* Safari */
 -ms-user-select: none; /* IE 10 and IE 11 */
 user-select: none; /* Standard syntax */
 animation: fadeIn 4s ease-out forwards;
 color: transparent;

 border: rgb(150, 141, 141);
border-style:groove;

 background-image: linear-gradient(
   to right,
   rgb(214, 214, 214), /* Red, 50% opacity */
   rgb(207, 207, 207) /* Green, 50% opacity */
 );
 display: inline-block;
 white-space: nowrap;

 /* Blurry glass effect */
 background-clip: text;
 -webkit-background-clip: text;
 backdrop-filter: blur(3px); /* Apply blur to elements behind the object */
 -webkit-backdrop-filter: blur(10px); /* For Safari */
 background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
 border-radius: 30px; /* Optional: For rounded corners */

 -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 60%, transparent 100%);
 mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);


}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #866de2, 0 0 40px #32b5f1, 0 0 50px #10614f, 0 0 60px #278355, 0 0 70px #4b24b6;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #866de2, 0 0 50px #32b5f1, 0 0 60px #10614f, 0 0 70px #278355, 0 0 80px #4b24b6;
  }
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.bio-container{
  width: 60vw;
  position: absolute;
  z-index: 10;
  margin-top: 10vh;
  margin-left: 20vw;
}

.bio-title{
  font-family: Inter, sans-serif;
  animation: fadeIn 2s ease-out forwards;
  text-shadow:0 0 10px #f9f9f9;
  font-size: 2vw;

}

.bio-p{
  font-family: Inter, sans-serif;
  animation: fadeIn 2s ease-out forwards;
  text-shadow:0 0 10px #f9f9f9;
  font-size: 1.4vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Container of the .buttonList should have at least these styles */
.btn-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

/* Your existing .buttonList styles */
.buttonList {
  margin: 0 auto; /* This will center the div if it has a width set */
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers the buttons inside the .buttonList */
  position: absolute;
  left: 0;
  right: 0;
  top: 60px; 
}

button:first-child {
  margin-left: 0; /* Removes left margin for the first button */
}

button {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 7vw;
  padding: 10px 30px;
  border-radius: 25px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.018) 0%, rgba(23, 42, 77, 0.2) 50%, rgba(35, 33, 48, 0.5) 100%);
  border: 1px solid rgba(40, 20, 126, 0.3);

  box-shadow: 0 4px 6px rgba(142, 142, 173, 0.11), 0 1px 3px rgba(150, 164, 185, 0.08);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
  /* animation: glow 1s ease-in-out infinite alternate; */
}
button:hover {
  border-color: #646cff;
  transform: translateY(-4px);
  text-shadow:0 0 20px #f9f9f9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 768px) { /* Adjust for tablets and below */
  .buttonList {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    width: 80vw; /* Adjust width for smaller screens */
    margin-top: 60vh;
  }
  
  button {
 
    margin-left: 0; /* Remove left margin for stacked layout */
    margin-bottom: 2vh; /* Add some space between vertically stacked buttons */
    width: 100%; /* Make buttons fill the container width */
  }
}

@media (max-width: 480px) { /* Adjust for mobile phones */
  .buttonList {
    width: 90vw; /* Increase width for very small screens */
  }
  
  button {
    padding: 3vw 6vw; /* Adjust padding for smaller screens */
    font-size: calc(1em + 2vw); /* Increase font size slightly for readability */
  }
}



@media (prefers-color-scheme: light) {
  :root {
    color: #3182c9;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
